@section Script
{
    <script src="~/js/funFuctAboutNimbers.js"></script>
}
@{
    Layout = "_LayoutLoreCreator";
}

<div>
    @ViewBag.Result
</div>

<div>
    <input id="number" type="number" />
    <br />
    <span id="answer"></span>
</div>